body{
    background-color:rgb(177, 178, 255) ;
}
/* font */
*{
    font-family: 'Quicksand', sans-serif;

}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border size;
}
/* header, main, footer */
header, main, footer {
    min-width: 100%;
}
/* header */
header {
    display: inline-flex;
    justify-content:space-between;
}
.logo {
    width: 10em;
    height: 5em;
    margin: 0.5% 0% 0.5% 1%;
}
.content {
    position: absolute;
    top: 50%;
    margin-left: 10%;
}
.content {
    font-size: 40px;
    font-weight: 0px;
    margin-right: 40%;
    
}
.menu {
    /* margin: auto 0; */
    align-items: flex-end;
    margin: 25px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.menu-list{
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding-right: 20px;
}
.profile {
    position: absolute;
    left: 50%;
    top: 20%;
}
/* main */
/* heading */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}
/* home */
/* #home {
    background-color: rgb(177, 178, 255);
} */
/* .wrapper {
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    display: block;
    margin: 15px auto;
} */
.wrapper p {
    text-align: center;
}
/*resume */
#resume {
    background-color:orchid ;
}
/*project */
#project {
    background-color: rgba(100, 170, 161, 0.7);
}
/*Contact */
#contact {
    background-color:orchid
}