body{
    background-color:rgb(238, 241, 255);
}
/* font */
*{
    font-family: 'Quicksand', sans-serif;

}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border size;
}
/* header, main, footer */
header, main, footer {
    min-width: 100%;
}
/* header */
header {
    display: inline-flex;
    justify-content:space-between;
}
.logo {
    width: 10em;
    height: 5em;
    margin: 0.5% 0% 0.5% 1%;
}
.content {
    position: absolute;
    margin-top: 70px;
    margin-left: 100px;
}
.content {
    font-size: 40px;
    font-weight: 0px;
    margin-right: 40%;
    
}
.menu {
    /* margin: auto 0; */
    align-items: flex-end;
    margin: 25px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.menu-list{
    display: inline-flex;
    list-style: none;
}
.menu-list li {
    padding-right: 20px;
}
.profile {
    position: absolute;
    margin-left: 850px; ;
    top: 20%;
}
/* main */
/* heading */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 15px;
}
/* home */
/* #home {
    background-color: rgb(177, 178, 255);
} */
/* .wrapper {
    min-height: 100vh;
    align-content: center;
}
.wrapper img{
    display: block;
    margin: 15px auto;
} */
.wrapper p {
    text-align: center;
}
/*resume */
#resume {
    background-color:rgb(238, 241, 255);
}
#Education {
    background-color: rgb(210, 218, 255);
    width: 700px;
    height: 200px;
    padding-left: 50px;
    margin-left: 20px;
    padding-top: 20px;
}
#Experience {
    background-color: rgb(210, 218, 255);
    width: 700px;
    height: 200px;
    padding-left: 50px;
    margin-left: 20px;
}
/*project */
#project {
    background-color:rgb(238, 241, 255);
}
#Port {
    margin-left: 60px;
    margin-top: 80px;
}
/*Contact */
#contact {
    background-color:rgb(139, 188, 204);
}

/* anchor tags */
a:link {
    color: black;
}
a:visited {
    color: black;
    border-radius: 5px;
}
a:hover {
    font-size: 22px;
    color: black;
}
